#skills
{
    padding:20px 0 30px 0;
}

/* Style for progress bar label */
.skill-label
{
    color:#272c60;
    margin: 10px 0;
    margin-left : 5px;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

.skills-div
{
    margin:30px 5% 0 5%;
}

span.skill_section_label
{
    color: #de3448;
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: 12px;
}

span.margin_section {
    margin-top: 40px;
    display: block;
}

/* List Skills */
.list_Skills
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.skill_item
{
    text-align: center;
    padding: 15px;
}

.skill_item img
{
    filter: grayscale(100%);
    transition: all 0.8s;
    width: 120px;
}

.skill_item img:hover
{
    filter: grayscale(0);
}
.skill_item p
{
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    color: #272c60;
    font-size: 14px;
}
/* Style for mobile */
@media screen and (max-width:700px)
{

    .skills-div img
    {
        width: 100%;
    }

    .skill_item img
    {
        width: 60px;
    }
}