

/* style for Titles of Sections*/
.title-section
{
    text-align: center;
    font-size: clamp(25px, 5vw, 40px);;
    text-align: center;
    width: fit-content;
    margin: 50px auto;
    border: 3px #272c60 solid;
    padding: 10px 20px;
    color:#272c60;
    transition: all 1s;
}

h1.skills-title.title-section::after
{
    z-index: -10;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0; 
    height: 100%;
    opacity: 0.2;
    transition-duration: 0.8s;
    background-color: #272c60;
}

h1.skills-title.title-section::before
{
    z-index: -10;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0; 
    height: 100%;
    opacity: 0.2;
    transition-duration: 0.8s;
    background-color: #272c60;
    font-weight: 600;
}

h1.skills-title.title-section:hover::after
{
    width: 50.1%;
}

h1.skills-title.title-section:hover::before
{
    width: 50%;
}



/* Style for Tabs */
.tabs-button
{
    margin-left: 5px !important;
    color: #272c60 !important;
    font-size: 15px;
    font-weight: 100;
    width: fit-content;
}

.tabs-button.Mui-selected
{
    background-color: #de3448;
    color:#FFF !important;
    border-radius: 5px;
}


.MuiTabs-indicator
{
    display:none;
}

/* Style for mobile */
@media screen and (max-width:700px)
{
    .title-section
    {
        font-size: 25px;
        width: fit-content;
    }
}
