#footer
{
    background-color: #272c60;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    height: 100px;
}

#footer a
{
    text-decoration: none;
}

#footer svg
{
    color: #de3448;
    font-size: 45px;
    transition: transform 500ms;
}

#footer svg:hover
{
    transform: scale(1.5);
}

#footer p
{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

#footer p>a
{
    color: #de3448
}